$brand-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
);

.post-social {
  .socialButton {
    margin: 0.5rem 0.25rem;
    // transition: all 300ms ease-out;
    @each $class, $color in $brand-colors {
      &.#{$class} {
        color: $color !important;
        border: 1px solid $color !important;
        padding: 10px 45px !important;
        border-radius: 50px !important;
        width: 48%;
        &:hover {
          background-color: $color !important;
          border-color: $color !important;
          color: #fff !important;
          cursor: pointer !important;
        }
      }
    }
  }
}

.myShareCountWrapper {
  padding: 0 10px;
}
.paddingSocial {
  padding: 0 0px 0 5px;
}
